.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, max-content));
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    background-color: cyan;
   /*  display:flex;
    flex-direction: column;
    align-items: center;
    background-color: cyan; */
}