body{
    margin: 0;
    padding: 0;
    font-family: "Inter", arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
    line-height: 1.5;
    
}

.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}
.formCard{
    display: flex;
    flex-direction: column;
     gap: 5px;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    max-width: 380px;
    padding: 5px; 
}
.inputGroup{
  display: flex;
  flex-direction: column;
  gap:  3px;
}
.inputGroup label{
    font-size: 14px;
    font-weight: 500;
    color: #222;
}
.inputGroup input{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px;
    width: 100%;
    font-size: 10px;
    box-sizing: border-box;
}
.btn{
    border: 1px solid #968484;
    border-radius: 6px;
}


.inputGroup input:focus {
  border-color: #1061ca;
  outline: none;
  box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.15);
}

/* Submit button */
.btn {
  padding: 12px;
  background-color: #668cba;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
  text-align: center;
}

.btn:hover {
  background-color: #135fc4;
}
/* input:disabled {
  background-color: #f2f2f2;
  color: #666;
  cursor: not-allowed;
} */